#Header {
  height: 3rem;
  width: 100%;
  background: lightblue;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
}
#Header .headerName {
  margin: auto;
  font-size: 1.3rem;
  font-weight: 500;
}
